{% extends 'base_content.html' %}
{% block content %} <!-- Replacing content block not body block anymore as we would overwrite navbar -->

<style>
  #background-image {
      background: url('../../static/feed.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
  
  .white-title {
        color: white;
    }
</style>

<div id="background-image">
  <div class="container">
    <div class="row">
      {% for message in messages %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success mt-3" role="alert">
                        <p><b>{{ message }}</b></p>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
      <div class="col-xs-12 col-lg-6 col-xl-4">
      <br>
        <h3 class="white-title">New post</h3>
          <form action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">
          <!-- 'enctype="multipart/form-data' is required for forms that send files-->
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <button type="submit" class="btn btn-primary">Post!</button>
        </form>
      </div>
      <!-- Dividing up the columns of this row to display form and posts -->
      <div class="col-xs-12 col-lg-6 col-xl-8">
      <br>
        <h1 class="white-title">Feed</h1>
        {% include 'partials/posts_as_table.html' with posts=posts %} <!-- Rendering each post passed in the context -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
      
