{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Sign Up</h1>
            <form action="{% url 'sign_up' %}" method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form %} <!-- Form that is passed to the template is passed to the partial -->
                <input type="submit" value="Sign up!" class="btn btn-success btn-lg">
            </form>
        </div>
    </div>
</div>
{% endblock %}
