{% load humanize %}

<style>
    .post-author {
        margin-bottom: 0px;
    }

    .post-author-fullname {
        font-weight: bold;
    }

    .post-author-user-details {
        margin-left: 10px;
        color: #777777;
    } 
</style>

<!-- Row is used to display post -->
<!-- Remember that 'td' tag represents table cell -->

<tr>
    <td>
        <h3>{{ post.title }}</h3>
        <p class="post-author">
            <span class="post-author-user-details">
                {{ post.author.username }}
                &nbsp;&middot;&nbsp;
                {{ post.posted_at|naturaltime }}
            </span>
        </p>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image">
        {% endif %}
        {% if post.body %}
            <p class="post-text">
                {{ post.body }}
            </p>
        {% endif %}
    </td>
</tr>
