{% load humanize %}

<style>
    .post-author {
        margin-bottom: 10px;
    }

    .post-author-fullname {
        font-weight: bold;
    }

    .post-author-user-details {
        margin-left: 10px;
        color: #777777;
    }
    .post-image {
        margin-bottom: 5px;
    }
</style>

<!-- Row is used to display post -->
<!-- Remember that 'td' tag represents table cell -->

<tr>
    <td>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="post-author">
                    <span class="post-author-user-details">
                        <a href="{% url 'profile' username=post.author.username %}" class="post-author-user-details">{{ post.author.username }}</a>
                        &nbsp;&middot;&nbsp;
                        {{ post.posted_at|naturaltime }}
                    </span>
                </p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top post-image">
                    <br>
                {% endif %}
                {% if post.body %}
                    <br>
                    <p class="card-text">
                        {{ post.body }}
                    </p>
                {% endif %}
            </div>
        </div>
        <br>
    </td>
</tr>

