{% load humanize %}

<style>
    .post-author {
        margin-bottom: 10px;
    }

    .post-author-fullname {
        font-weight: bold;
    }

    .post-author-user-details {
        margin-left: 10px;
        color: #777777;
    }

    .post-image {
        margin-bottom: 5px;
    }

    .card-width {
        width: 300px
    }

    .post-content {
        overflow-wrap: break-word;
        word-wrap: break-word; /* Fallback for older browsers */
        word-break: break-all; /* Additional fallback */
    }

</style>

<!-- Row is used to display post -->
<!-- Remember that 'td' tag represents table cell -->

<tr>
    <td>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="post-author">
                    <span class="post-author-user-details">
                        <i class="bi bi-person-circle" style="font-size: 1rem;"></i>
                        <a href="{% url 'profile' username=post.author.username %}" class="post-author-user-details" style="text-decoration: none;">
                            {{ post.author.username }}
                        </a>
                        &nbsp;&middot;&nbsp;
                        {{ post.posted_at|naturaltime }}
                    </span>
                </p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top post-image">
                    <br>
                {% endif %}
                {% if post.body %}
                    <br>
                    <p class="card-text post-content">
                        {{ post.body }}
                    </p>
                {% endif %}
            </div>
        </div>
        <br>
    </td>
</tr>

